
<html>
  <head>
    <meta charset="utf-8">
    <title>LOGIN Tableau Embedded Page!</title>
    <script type="text/javascript" src="http://localhost/javascripts/api/tableau-2.min.js"></script>

    <script type="text/javascript">
        var viz, sheet; //we need this to be semi-global so we can reference it via multiple functions

        // --------- 01 - PASTE InitViz function - START ---------------------------------------------------------
        function initViz()
        {
            var containerDiv = document.getElementById("vizContainer"),
                url = "http://localhost/trusted/{{tableau_ticket}}/views/Regional/College",
                options =
                {
                    "Academic Year" : "", //specifying the filter value before loading the viz - for example we could say "Aacademic Year" : "2014"
                    "Gender" : "",
                    height: "700px",
                    width: "800px",
                    hideTabs: true,
                    hideToolbar: true,
                    onFirstInteractive: function () //this function fires only once when the viz is first time rendered - think of it as init function
                    {
                        sheet = viz.getWorkbook().getActiveSheet();
                        listenToMarksSelection(); // EVENT listener
                        console.log("Run this code when the viz has finished loading.");
                    }
                }


            viz = new tableau.Viz(containerDiv, url, options); // Create a viz object and embed it in the container div.

        }

        // --------- 01 - PASTE InitViz function - END ---------------------------------------------------------

        function clearSelection()
        {
             sheet.clearSelectedMarksAsync();
        }

        function clearAll()
        {
             viz.revertAllAsync();
        }

        function yearFilter(year)
        {
          //var sheet = viz.getWorkbook().getActiveSheet();
          if (year == "")
          {
              sheet.clearFilterAsync("Academic Year");
          }
          else
          {
              sheet.applyFilterAsync("Academic Year", year, tableau.FilterUpdateType.REPLACE);
          }
        }

        function genderFilter(gender)
        {
          //var sheet = viz.getWorkbook().getActiveSheet();

          if (gender == "")
          {
            sheet.clearFilterAsync("Gender");
          }
          else
          {
            sheet.applyFilterAsync("Gender", gender, tableau.FilterUpdateType.REPLACE);
          }

        }

        // LISTEN TO EVENTS START
        function listenToMarksSelection()
        {
            viz.addEventListener(tableau.TableauEventName.MARKS_SELECTION, onMarksSelection);
        }

        function onMarksSelection(marksEvent)
        {
            return marksEvent.getMarksAsync().then(reportSelectedMarks);
        }

        function reportSelectedMarks(marks)
        {
            var html = "Selected DATA will go here!<p>";

            for (var markIndex = 0; markIndex < marks.length; markIndex++)
            {
                var pairs = marks[markIndex].getPairs();
                html += "<b>Mark " + markIndex + ":</b><ul>";

                for (var pairIndex = 0; pairIndex < pairs.length; pairIndex++)
                {
                    var pair = pairs[pairIndex];
                    html += "<li><b>Field Name:</b> " + pair.fieldName;
                    html += "<br/><b>Value:</b> " + pair.formattedValue + "</li>";
                }

                html += "</ul>";
            }

            var infoDiv = document.getElementById('eventData');
            infoDiv.innerHTML = html;
        }
    </script>

  </head>
  <body onload="initViz();">
    <table style="width:100%;border: 1px solid black;">
      <tr>
        <td style="width:33%"><img src="static\logo.png" alt="" align="left" style="width:226px;height:47px;"></td>
        <td style="width:33% ;font-family:arial;font-size: large;" align="middle">Tableau Embedded TCE 19 - Welcome {{username}}!</td>
        <td style="width:33%"><img src="static\logo.png" alt="" align="right" style="width:226px;height:47px;"></td>
      </tr>
    </table>



    <div id="controls1" style="padding:20px;font-family:courier;">
        <button onclick="clearSelection();">Clear Selection</button>
        &nbsp;&nbsp;
        <button onclick="clearAll();">Clear All</button>
        &nbsp;&nbsp;
        Year:
        <select id="changeYear" onchange="yearFilter(value);">
          <option value="">All</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
        </select>
        &nbsp;&nbsp;
        Gender:
        <select id="changeGender" onchange="genderFilter(value);">
          <option value="">All</option>
          <option value="Men">Men</option>
          <option value="Women">Women</option>
        </select>
    </div>
    <table style="width:100%;border: 1px solid black;">
      <tr>
        <td style="width: 800px" valign="top"><div id="vizContainer"></div></td>
        <td width="25%" valign="top">
          <table style="width:100%;border: 1px solid black;">
            <tr>
              <td><div id="eventData">Selected DATA will go here!</div></td>
            </tr>
          </table>


        </td>
        <td width="33%" valign="top"><iframe src="https://en.wikipedia.org/wiki/College_admissions_in_the_United_States" width="100%" height="700px"></iframe></td>
      </tr>
    </table>
    <p style="font-family:arial;font-size: small;" align="middle">Tableau Viz URL: http://localhost/trusted/{{tableau_ticket}}/views/Regional/College</p>
    <table style="width:100%;border: 1px solid black;">
      <tr>
        <td align="middle" style="font-family:courier;font-size: small">Copyright by This is NOT a Web Design Hands-On(tm)</td>
      </tr>
    </table>

  </body>
</html>
